/* Default setting */
*,*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
}

.dashboard-box{
    width: 100%;
    height: 190vh;
    display: flex;
}


/* bagian sidebar */
.sidebar-box{
    height: 100%;
    width:0%;
    background-color: #DFDFDE;
    display: block;
    transition: 0.4s;
}

.sidebar-image-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.sidebar-image{
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    border: 5px solid black;

}

.sidebar-name{
    font-size: 25px;
    margin-top: 2rem;
}

.sidebar-list{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 6rem;
    padding-top: 2rem;
    padding-right: 6rem;
}
.sidebar-list ul{
    list-style: none;
}

.sidebar-list ul a{
    font-size: 5rem;
    text-decoration: none;
    color: black;
    
}

.sidebar-list ul a li{
    margin-top: 3rem;
}

.sidebar-list ul a:hover{
    color: grey;
}

/* bagian menu */
 .menu-box{
    height: 100%;
    width: 100%;
    background-color: #F7F5F2;
}

.navbar-box{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    background-color: #8D8DAA;
}

.open-button{
    width: 5rem;
    height: 100%;
    font-size: 5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.open-button:hover{
    color: black;
}

.dropdown-box{
    position: relative;
    display: inline-block;
}

.dropbtn {
    background: none;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover {
      color: black;

  }

  .dropdown-categories {
    display: none;
    position: absolute;
    left: 32rem;
    background-color: #f1f1f1;
    width: 10rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-categories a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}
.dropdown-categories a:hover{
    background-color: grey;
}
  .dropdown-time {
    display: none;
    position: absolute;
    left: 55rem;
    background-color: #f1f1f1;
    width: 10rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-time a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
  }
  
  .dropdown-time a:hover{
      background-color: grey;
  }
  .show {display: inline-block;}



.search-image{
    position: relative;
    left: 4rem;
    top: -6px;
}
  .input-search{
      width: 25rem;
      height: 4rem;
      border-radius: 2rem;
      padding-left: 5rem;
      font-size: 18px;
  }

  .logo{
      width: 6rem;
      height: 100%;
  }


  /* bagian caraousel */
    .flickity-viewport{
        height: 35rem !important;
        }
  .gallery-cell {
    width: 66%;
    height: 100%;
    margin-right: 10px;
    background: white;
    align-items: center;
    text-align: center;
  }

  .image{
      height: 100%;
      width: 50%;
  }

  /* bagian card */
  .card-box{
      display: flex;
      justify-content: space-around;
      align-items:center;
      padding-top: 15rem;
  }
  
 /* bagian modal */
 .modal {
  display: none;
  position: fixed;
  z-index: 1; 
  padding: 100px 150px;
  left: 0;
  top: 0;
  width: 100%; 
    height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
}

/* The Close Button */
.close {
  color: red;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* bagian isi modal */
.form-modal{
    display:flex;
    align-items: center;
    
}
.modal-header{
    display: flex;
    justify-content: space-between;
}
.form-input{
    width: 80%;
    height: 5rem;
    border: 2px solid black;
    border-radius: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
}
.form-modal label{
    font-size: 1rem;
    padding-left: 1rem;
    margin-right: 5rem;
    width: 5rem;
}

.form-description{
    height: 15rem;
}
.button-save{
    display: flex;
    justify-content: right;
    margin-right: 13rem;
    margin-top: 4rem;
}
.button-save button{
    width: 6rem;
    height: 4rem;
    font-size: 2rem;
    background-color:#8D8DAA;
    transition: 0.2s;
}

.button-save button:hover{
    background-color: #888;
    color:white
}